In [1]:
import pandas as pd
import numpy as np
import itertools

In [2]:
value_dict = {'A':[0,1],'B':['Y','V','Z']}

In [3]:
def dummy_generator(var_dict):
    keys = list(var_dict.keys())
    all_values = []
    for key in var_dict.keys():
        all_values.append(var_dict[key])
    combos = list(itertools.product(*all_values))
    df = pd.DataFrame(combos, columns=keys)
    return df

In [4]:
dummy_generator(value_dict)

   A  B
0  0  Y
1  0  V
2  0  Z
3  1  Y
4  1  V
5  1  Z