In [1]:
import pandas as pd
import numpy as np
import itertools

In [2]:
value_dict = {'A':[0,1],'B':['Y','V','Z'],'C':[1,1,0]}

In [3]:
def dummy_generator(var_dict):
    keys = list(var_dict.keys())
    all_values = [var_dict[key] for key in keys]
    combos = list(itertools.product(*all_values))
    return pd.DataFrame(combos, columns=keys).drop_duplicates().reset_index(drop = True)

In [4]:
dummy_generator(value_dict)

    A  B  C
0   0  Y  1
1   0  Y  0
2   0  V  1
3   0  V  0
4   0  Z  1
5   0  Z  0
6   1  Y  1
7   1  Y  0
8   1  V  1
9   1  V  0
10  1  Z  1
11  1  Z  0